<!DOCTYPE html>
<html>
<head>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-123961355-1', 'auto');
        ga('send', 'pageview');
    </script>
    <meta name="title" content="" />
    <link rel="shortcut icon" href="~/img/icon_tab.ico">
    <meta name="description" content="Shop Acc LMHT, Liên Quân, Shop Cung Cấp Dịch Vụ Acc LMHT, Liên Quân" />
    <meta name="keywords" content="Shop Acc LMHT, Liên Quân, Shop Cung Cấp Dịch Vụ Acc LMHT, Liên Quân" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="315">
    <meta property="og:url" content="https://shoplienminh360.vn/">
    <meta property="og:type" content="website">
    <meta property="og:title" content=" ShopLienMinh360.VN Shop Acc LMHT, Liên Quân, Shop Cung Cấp Dịch Vụ Acc LMHT, Liên Quân Giá Rẻ">
    <meta property="og:description" content="https://shoplienminh360.vn/">
    <meta property="og:image" content="https://shoplienminh360.vn/public/img/banner.png">
    <meta property="og:site_name" content="ShopLienMinh360.VN">
    <title> Website giao dịch account</title>

    <!-- CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/reset.css" rel="stylesheet" />
    <link href="~/Content/css/swiper.min.css" rel="stylesheet" />
    <link href="~/Content/css/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/css/custom.css" rel="stylesheet" />
    <!-- JS -->
    <script src="~/Content/js/jquery-1.11.2.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/swiper.min.js"></script>
    <script src="~/Content/js/sweetalert.min.js"></script>
    <script src="~/Content/js/garenaweb-utils.min.js"></script>
</head>
<body>
    <div class="sl-header">
        <div class="container">
            <span class="sl-icmenu"><i class="glyphicon glyphicon-menu-hamburger"></i></span>
            <div class="sl-logo" style="" title="Trang chủ"><img src="~/img/logo.png" /></div>
            <ul class="sl-menu clearfix">
                <li>@Html.ActionLink("TRANG CHỦ", "Index", "Home")</li>
                <li>@Html.ActionLink("GIAO DỊCH GẦN ĐÂY", "Index", "LichSuGiaoDich")</li>
                <li>@Html.ActionLink("CÀY THUÊ", "Index", "CayThue")</li>
                <li>@Html.ActionLink("BẢO HÀNH", "Index", "BaoHanhAcc")</li>
            </ul>
            <ul onclick="loginWithFacebook();" class="sl-logreg clearfix">
                <li><a class="sl-loglink" href="#" title="Đăng nhập">Đăng nhập</a></li>
            </ul>
        </div>
    </div>

    <div class="sl-hdtop">
        <div class="container">
            <div class="sl-boxs">
                <div class="sl-row clearfix">
                    <div class="sl-col sl-col1">
                        @Html.Action("TopCard", "TopCardPartial")
                    </div>
                    <div class="sl-col sl-col2">
                        <div class="sl-hdcbox">
                            <div class="swiper-container slhdbner swiper-container-horizontal">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide swiper-slide-active"><img src="~/img/banner.jpg"></div>
                                    <div class="swiper-slide swiper-slide-active"><img src="~/img/banner.jpg"></div>
                                    <div class="swiper-slide swiper-slide-active"><img src="~/img/banner.jpg"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/js/bootstrap3-typeahead.min.js"></script>
    <script src="~/Content/js/filter.js"></script>
    <script src="~/Content/js/_accountSkin.js"></script>
    <script type="text/javascript"></script>
    <script src="~/Content/js/custom.js"></script>

    <!-- Search -->
    <div class="sl-search">
        <div class="container">
            <div class="sl-sebox">
                <div class="sl-row clearfix">
                    <div class="sl-col col-md-6 col-xs-12">
                        <h4 class="sl-htit sl-ht3">CHỌN GAME</h4>
                        <div class="swiper-container slchgame swiper-container-horizontal">
                            <div class="swiper-wrapper">
                                <div data-type="wheel" class="swiper-slide" style="width: 106px; margin-right: 20px;">
                                    <a href="/" title="Vòng quay may mắn">
                                        <span><img src="https://shoplienminh360.vn/public/img/icon-lucky-draw.png" alt="Vòng quay may mắn"></span>
                                        <h3>Vòng quay may mắn</h3>
                                    </a>
                                </div>
                                <div data-type="" class="swiper-slide active" style="width: 106px; margin-right: 20px;">
                                    <a href="/" title="Liên minh">
                                        <span><img src="https://shoplienminh360.vn/public/img/LMHT.png" alt="Liên minh"></span>
                                        <h3>Liên minh</h3>
                                    </a>
                                </div>
                                <div data-type="lien-quan" class="swiper-slide" style="width: 106px; margin-right: 20px;">
                                    <a href="/" title="Liên quân">
                                        <span><img src="https://shoplienminh360.vn/public/img/LQ.png" alt="Liên quân"></span>
                                        <h3>Liên quân</h3>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-scrollbar" style="display: none;">
                                <div class="swiper-scrollbar-drag" style="width: 0px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="sl-col col-md-6 col-xs-12 filter">
                        <h4 class="sl-htit sl-ht3">CHỌN THUỘC TÍNH LỌC</h4>
                        <form lpformnum="1">
                            <ul class="sl-seauls clearfix">
                                <li>
                                    <select class="form-control property-filter" data-filter="tim-theo-rank">
                                        <option value="">Tìm theo rank</option>
                                        <option value="chua">Chưa rank</option>
                                        <option value="dong">Rank Đồng</option>
                                        <option value="bac">Rank Bạc</option>
                                        <option value="vang">Rank Vàng</option>
                                        <option value="bach-kim">Rank Bạch Kim</option>
                                        <option value="kim-cuong">Rank Kim Cương</option>
                                        <option value="cao-thu">Rank Cao Thủ</option>
                                        <option value="thach-dau">Rank Thách Đấu</option>
                                    </select>
                                </li>
                                <li>
                                    <select class="form-control property-filter" data-filter="tim-theo-gia">
                                        <option value="">Tìm theo giá</option>
                                        <option value="10k">Acc 10k</option>
                                        <option value="20k">Acc 20k</option>
                                        <option value="30k">Acc 30k</option>
                                        <option value="40k">Acc 40k</option>
                                        <option value="50k">Acc 50k</option>
                                        <option value="50k-100k">Acc 50k - 100k</option>
                                        <option value="100k-500k">Acc 100k - 500k</option>
                                        <option value="500k-2000k">Acc 500k - 2000k</option>
                                    </select>
                                </li>
                                <li>
                                    <select class="form-control property-filter" data-filter="tim-theo-khung">
                                        <option value="">Tìm theo khung</option>
                                        <option value="chua">Không khung</option>
                                        <option value="bac">Khung Bạc</option>
                                        <option value="vang">Khung Vàng</option>
                                        <option value="bach-kim">Khung Bạch Kim</option>
                                        <option value="kim-cuong">Khung Kim Cương</option>
                                        <option value="cao-thu">Khung Cao Thủ</option>
                                        <option value="thach-dau">Khung Thách Đấu</option>
                                    </select>
                                </li>
                                <li>
                                    <select class="form-control property-filter" data-filter="sap-xep-theo">
                                        <option value="">Sắp xếp theo</option>
                                        <option value="nhieu-tuong">Nhiều tướng</option>
                                        <option value="nhieu-skin">Nhiều trang phục</option>
                                    </select>
                                </li>
                                <li>
                                    <input type="text" class="form-control property-filter" placeholder="Tìm Theo Trang Phục" data-filter="tim-theo-trang-phuc">
                                </li>
                                <li>
                                    <input type="text" class="form-control property-filter" placeholder="Tìm Theo Tướng" data-filter="tim-theo-tuong">
                                </li>
                                <li>
                                    <input type="text" class="form-control property-filter" placeholder="Tìm Theo Thông Thạo" data-filter="tim-theo-thong-thao">
                                </li>
                            </ul>
                            <ul class="sl-sebtns">
                                <li><button class="sl-sebt1 btn-filter" type="button">TÌM KIẾM</button></li>
                                <li><button class="sl-sebt2" type="reset">HỦY BỎ</button></li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="sllpbox">
            @RenderBody()
        </div>
    </div>


    <div class="sl-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="sl-ftadds">
                        <p>Hoạt động: 24/24</p>
                        <p>Thời gian làm việc: 8h-23h các ngày trong tuần</p>
                        <p>© 2018, Copyright by Shop Liên Minh 360</p>
                    </div>

                    <div class="sa-fthotline">
                        <div class="sa-ftarow clearfix">
                            <div class="sa-ftacol sa-fthnum">
                                <p><a href="">Liên Hệ Admin</a></p>
                                <p><a target="_blank" href="//fb.com/tangocson911">TNS911 (fb.com/tangocson911)</a></p>
                            </div>
                            <div class="sa-ftacol sa-fthwork">
                                Thời gian làm việc: <strong>8h - 22h</strong> các ngày trong tuần
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <ul class="sl-ftviews">
                        <li>
                            <span class="sl-fti1"><img src="~/img/b1.png"></span>
                            <p><strong>21253</strong> Acc đã bán</p>
                        </li>
                        <li>
                            <span class="sl-fti2"><img src="~/img/b2.png"></span>
                            <p><strong>17281</strong> Thành viên</p>
                        </li>
                        <li>
                            <span class="sl-fti3"><img src="~/img/b3.png"></span>
                            <p><strong class="vistor-total">5</strong> Trực tuyến</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>